= form_tag search_path, method: :get, :html => { :class => 'form-horizontal' } do
  .form-actions
    = text_field_tag :tags, nil, data: {category: Factual_Taxonomy.taxonomies , place: PLACES.places + PLACES.neighborhoods}, id: 'tags'
    = text_field_tag :query, params[:query], placeholder: 'Search keyword', class: 'form-control', id: 'query-text-field'
    = text_field_tag :place, params[:place], placeholder: 'Cities or Zip code', class: 'form-control', id: 'place-text-field'
    = submit_tag 'Go', :class => 'btn btn-primary'
