.container
  %h1= @bussiness['name']
  .rows
    .address
      %h2
        Address:
        = @bussiness['address']
        = @bussiness['locality']
        = @bussiness['region']
        = Country.find_country_by_alpha2(@bussiness['country']).name
    .return-search
      = link_to "Go Back to Search", request.referer, class: 'btn btn-success'
  %h3
    = @bussiness['category_labels'].join(', ')
  #map-canvas
  %h4 How people talk about this bussiness
  - url = [request.host_with_port, 'bussiness', @bussiness['factual_id']].join('/')
  .comments-box
    = render 'comments/comment_form'
    .number
      Total
      = @comments.count
      comments
    #comments
      - @comments.each do |comment|
        - @comment = comment
        = render 'comments/comment'
= render 'google_map'
