= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAjzkiCAgtRZ3fiYPAcg3GAR1bvGLzZpgI&sensor=false"

.container
  %h1= @bussiness['name']
  .rows
    .address
      %h2
        Address:
        = @bussiness['address']
        = @bussiness['locality']
        = @bussiness['region']
        = Country.find_country_by_alpha2(@bussiness['country']).name
    .return-search
      = link_to "Back to Search", root_url, class: 'btn btn-success'
  %h3
    = @bussiness['category_labels'].join(', ')
  #map-canvas
  %h4 How people talk about this bussiness
  - url = [request.host_with_port, 'bussiness', @bussiness['factual_id']].join('/')

  .fb-comments{"data-href" => url, "data-numposts" => "10", "data-colorscheme" => "light", 'data-width' => 700}

= render 'google_map'
= render 'facebook_comment'
